.basic {
  display: flex;
  justify-content: space-around;
}

@media all and (max-width: 600px) {
  .basic {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}