.card {
  z-index: 0;
  position: relative;
  display: block;
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  margin-bottom: 10px;
  min-height: 58px;
  padding: 12px;
  cursor: pointer;

  &:not(:first-of-type) {
    margin-top: 8px;
  }
  >.button-delete {
    display: none;
    position: absolute;
    right: 6px;
    top: 6px;
  }

  &:hover {
    >.button-delete {
      display: flex;
    }
  }
}

