.header {
    background: #FFFFFF;
}

.menu {
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}

.navigation {
    list-style-type: none;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    padding-inline-start: 0;
    width: 236px; 
}

.menu_list:hover {
    cursor: pointer;
    text-decoration: underline;
}

.link {
    color: inherit;
    text-decoration: none;
    display: block;
    text-align: center;
}

.header_content {
    display: flex;
    justify-content: space-between;
    height: 93px;
    font-family: 'Inter';
    font-style: normal;
    padding: 0 60px;
}

.scan {
    width: 141px;
    height: 111px;
    left: 60px;
    top: -24px;
    background-image: url("../../../public/pictures/Header/headerLogo.png");
}

.registate {
    padding-right: 18px;
    margin-top: 3px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    padding-left: 10px;
    letter-spacing: 0.01em;
    color: #000000;
    opacity: 0.4;
}

.registate:hover {
    cursor: pointer;
    text-decoration: underline;
}

.loginOrRegistrate {
    display: flex;
    justify-content: center;
    align-items: center;
}

.line {
    width: 2px;
    height: 26px;
    margin:0 18px 0 0;
    background-image: url("../../../public/pictures/Header/line.svg");
}

.button_login {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    width: 65px;
    height: 26px;
    left: 1315px;
    top: 33px;
    border: none;
    outline: none;
    background: #7CE3E1;
    border-radius: 5px;
}

.button_login:hover {
    background: #69c4c2;
}

.button_login:active {
    background: #7CE3E1;
    box-shadow: 0 3px #7CE3E1 inset;
}

@media screen and (width < 1400px) {

    .menu {
      display: none;
    }
}

@media screen and (width < 500px) {

    .scan {
      background: url(../../../public/pictures/Header/Mobile/headerLogoMobile.svg) no-repeat;
    }

    .registate {
        display: none;
    }

    .line {
        display: none;
    }
}