.search_container {
    min-height: 892px;
    margin: 0 53px 0 53px;
    display: flex;
    justify-content: space-between;
}

.search_caption {
    text-transform: uppercase;
    font-family: 'Ferry';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 0.03em;
    margin: 0;
}

.search_img_mobile {
    display: none;
}

.search_description {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24.2px;
    letter-spacing: 0.03em;
    margin: 25px 0 47px 0;
}

.searchForm {
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    padding: 0 25px 0 25px; 
    width: 872px;
    min-height: 543px;
    z-index: 1;
    margin-top: 18px;
    display: flex;
}


.blockSearchData {
    flex-direction:  row;
    padding: 30px 0 20px 0;
}

.blockSearch {
    display: flex;
    flex-direction: column ;
    width: 400px;
}

.labelSearch {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21.78px;
    letter-spacing: 0.02em;
    padding: 30px 0 20px 0;
}

.inputSearch {
    width: 242px;
    height: 43px;
    border-radius: 5px;
    border: 1px solid #C7C7C7;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16.94px;
    letter-spacing: 0.03em;
    color: #949494;
    opacity: 0.4;
}

.selectSearch {
    width: 242px;
    height: 43px;
    border-radius: 5px;
    border: 1px solid #C7C7C7;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16.94px;
    letter-spacing: 0.03em;
}

.inputSearchDate{
    width: 176px;
    height: 43px;
    border-radius: 5px;
    border: 1px solid #C7C7C7;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16.94px;
    letter-spacing: 0.03em;
    color: #949494;
    opacity: 0.4;
    margin-right: 20px;
}

.inputSearchDate::-webkit-calendar-picker-indicator {
    opacity: 0;
}

.blockSearchDataSelect {
    padding: 30px 0 20px 0;
}

.checkboxContainer {
    margin: 40px 0 0 58px;
    display: flex;
    flex-direction: column;
}

.labelCheckbox {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21.78px;
    letter-spacing: 0.03em;
    color: rgb(0, 0, 0, 0.4);
    margin-bottom: 15px;
}

.inputCheckbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.inputCheckbox + label {
    border-color: #000;
    display: inline-flex;
    align-items: center;
    user-select: none;
}

.inputCheckbox:checked + label::before {
    border-color: #000;
    background-image: url(../../../public/pictures/Search/Checkbox.svg);
}

.inputCheckbox:checked + label {
    color: #000;
}

.inputCheckbox + label::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid rgb(0, 0, 0, 0.4);
    margin-right: 20px;
    background-repeat: no-repeat;
    background-position: center center;
}

.search_img_1 {
    margin: 80px 0 0 10px;
    height: 120px;
    width: 100px;
    background: url(../../../public/pictures/Search/Page.svg) center no-repeat no-repeat;
}

.search_img_2 {
    margin-top: -100px;
    margin-left: 270px;
    height: 80px;
    width: 150px;
    background: url(../../../public/pictures/Search/Folders.svg) center no-repeat no-repeat;
}

.search_img_3 {
    margin-top: 100px;
    height: 500px;
    width: 450px;
    background: url(../../../public/pictures/Search/SearchImage.svg) center no-repeat no-repeat;
}

.button_service {
    color: white;
    width: 335px;
    height: 59px;
    font-size: 22px;
    line-height: 27px;
    border: none;
    letter-spacing: 0.01em;
    margin: 135px 0 0 auto;
}

.button_service:disabled {
    opacity: 0.5;
}

.obligatoryField {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16.94px;
    letter-spacing: 0.03em;
    color: #949494;
    margin: 10px 75px 0 auto;
}

@media screen and (width < 1400px) {

    .search_container {
        flex-direction: column;
        align-items: center;
    }

    .blockSearchContainer {
        display: flex;
        justify-content: space-between;
    }

    .containerSearchCaption {
        text-align: center;
    }

    .search_img_mobile {
        margin: 50px 0 20px 0;
        display: block;
        width: 90px;
        height: 120px;
        background: url(../../../public/pictures/Search/Mobile/pageMobile.svg) center no-repeat no-repeat; 
    }

    .search_img_1 {
        display: none;
    }

    .search_img_2 {
        display: none;
    }

    .search_img_3 {
        margin-top: 50px;
    }
}

@media screen and (width < 1000px) {

    .search_container {
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 20px;
    }

    .blockSearchContainer {
        width: 375px;
    }

    .contentSearchContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .search_caption {
        font-size: 28px;
        line-height: 33.6px;
    }

    .search_description {
        font-size: 18px;
        line-height: 21.78px;
    }

    .search_img_mobile {
        display: block;
        width: 90px;
        height: 120px;
        background: url(../../../public/pictures/Search/Mobile/pageMobile.svg) center no-repeat no-repeat; 
    }

    .searchForm {
        width: 375px;
        height: 688px;
        flex-direction: column;  
    }

    .blockSearch {
        width: 375px;
    }

    .checkboxContainer {
        margin: 0;
    }

    .input_container_right {
        display: none;
    }

    .labelSearch {
        width: 335px;
    }

    .inputSearch {
        width: 335px;
    }

    .selectSearch {
        width: 335px;
    }

    .blockSearchDataSelect {
        padding: 0;
    }

    .blockSearchData {
        padding-bottom: 35px;
    }

    .inputSearchDate {
        margin: 10px 0 10px 0;
        width: 335px;
    }

    .button_service {
        margin: 0;
        width: 375px;
    }

    .search_img_1 {
        display: none;
    }

    .search_img_2 {
        display: none;
    }
}